@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

/* Basic setup */
*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--primaryColor: hsl(225, 100%, 94%);
	--secondaryColor: hsl(245, 75%, 52%);
	--neutralPrimary: hsl(225, 100%, 98%);
	--neutralSecondary: hsl(224, 23%, 55%);
	--neutralDarkBlue: hsl(223, 47%, 23%);
}

body {
	display: grid;
	place-items: center;
	font-family: 'Red Hat Display', sans-serif;
	background-image: url(./images/pattern-background-desktop.svg);
	background-repeat: no-repeat;
	background-color: var(--primaryColor);
	min-height: 100vh;
}

h1 {
	font-size: 1.75rem;
	font-weight: 900;
}

h2 {
	margin: 0;
	font-size: 1rem;
	font-weight: 900;
}

p {
	color: var(--neutralSecondary);
	font-size: 1rem;
	font-weight: 500;
}

a {
	font-size: 0.875rem;
	font-weight: 900;
}

a:hover {
	opacity: 0.5;
	text-decoration: none;
}

/* Container */
.card {
	display: flex;
	flex-direction: column;
	text-align: center;
	max-width: min(90%, 400px);
	height: fit-content;
	border-radius: 0.5em;
	background-color: #fff;
	box-shadow: 0 1rem 10rem 2rem var(--primaryColor);
	overflow: hidden;
}

.card__img {
	background-image: url(./images/illustration-hero.svg);
	background-size: cover;
	height: 220px;
}

/* Content inside */
.card__content {
	padding: 2rem;
	display: flex;
	flex-direction: column;
}

.card__content > * + * {
	margin-top: 1.5rem;
}

/* Plan Wrapper */
.card__plan {
	width: 100%;
	height: 100px;
	display: flex;
	align-items: center;
	gap: 1rem;
	padding: 1rem;
	border-radius: 0.5rem;
	background-color: var(--neutralPrimary);
}

.card__plan a {
	margin-left: auto;
}

/* Action Wrapper */
.card__action {
	display: flex;
	flex-direction: column;
}

/* All button needs this */
.btn {
	cursor: pointer;
	font-size: 1rem;
	font-weight: 900;
	color: white;
	border-radius: 0.75em;
	padding: 1rem;
	border: none;
}

.btn:first-of-type {
	margin-bottom: 1rem;
}

/* Payment button */
.btn-pay {
	background-color: var(--secondaryColor);
	box-shadow: 0 0.5rem 1.75rem var(--neutralSecondary);
}

.btn-pay:hover {
	opacity: 0.5;
}

/* Cancel Order button */
.btn-cancel {
	color: grey;
	background-color: transparent;
}

.btn-cancel:hover {
	color: #000;
}

/* Mobile */
@media only screen and (max-width: 35em) {
	body {
		background-image: url(./images/pattern-background-mobile.svg);
	}

	h1 {
		font-size: 1.375rem;
	}

	h2 {
		font-size: 0.875rem;
	}

	p {
		font-size: 0.9375rem;
	}

	a {
		font-size: 0.8125rem;
	}

	.card__img {
		background-size: cover;
		height: 170px;
	}
}
